<%= form_for(@student,:remote => true) do |f| %>

        <div class="field">
          <%= f.label "שם" %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label "אימייל" %>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label "טלפון" %>
          <%= f.text_field :phone %>
        </div>
        <div class="submit" id="submit_button">
          <%= f.submit 'צור קשר'%>
          <div id="progress_bar" class="loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
<% end %>

